#include "resources/resource.h"
#include "winres.h"

LANGUAGE LANG_CZECH, SUBLANG_CZECH_CS

STRINGTABLE
BEGIN
    IDS_SETUP_UNSUPPORTED_ARCH  "Prosím spusťte %1$s verzi instalovacího souboru pro %1$s počítače. Tento instalovací soubor je pouze pro %2$s počítače."
    IDS_SETUP_UNINSTALL_PROMPT  "Opravdu chcete odinstalovat ExplorerPatcher z vašeho PC?"
    IDS_SETUP_INSTALL_LOGOFF    "Při instalaci budete automaticky odhlášení ze systému Windows. Po opětovném přihlášení bude ExplorerPatcher připraven k použití.\n\nChcete pokračovat?"
    IDS_SETUP_UNINSTALL_LOGOFF  "Po dokončení odinstalace budete automaticky odhlášeni ze systému Windows.\n\nChcete pokračovat?"
    IDS_SETUP_UNINSTALL_RESTART "Pro dokončení odinstalace restartujte počítač.\n\nChcete nyní restartovat počítač?"
    IDS_SETUP_UNINSTALL_FINISH  "Odinstalace byla dokončena. Děkujeme, že jste používali ExplorerPatcher."
    IDS_SETUP_FAILED            "Při obsluze nástroje ExplorerPatcher.\n došlo k chybě.\nTo je pravděpodobně způsobeno tím, že jeden nebo více záložních souborů z předchozí aktualizace jsou stále používány. Odblokování souborů by mělo tento problém vyřešit.\n\nKroky řešení:\n• Zavřete a znovu otevřete dialogové okno „“Vlastnosti„“, pokud je právě otevřené.\n• Ukončete a restartujte všechny procesy „“explorer.exe„“.\n• Pokud jste zaregistrovali ExplorerPatcher jako shell extension, pak restartování počítače pravděpodobně problém vyřeší.\n• Nakonec restartujte počítač a zkuste to znovu."
END
